/* custom.scss */

/* Overskrifter */
h1 {
  color: darkgreen;
}

h2 {
  color: steelblue;
}

h3 {
  color: orange;
}

/* Baggrundsfarve på slides */
.reveal .slide-background {
  background-color: #f5f5f5;
}
